{
  "openapi": "3.1.0",
  "info": {
    "title": "RealAddr Operator API",
    "version": "0.1.0-spec",
    "description": "Planned same-origin operator API. No implementation or deployment exists. Authentication is server-side Google OIDC plus a separate admin session. This API cannot approve human actions or force payments."
  },
  "servers": [
    {
      "url": "https://address.chain.tokyo",
      "description": "Planned operator-configured origin; DNS and deployment unverified"
    }
  ],
  "paths": {
    "/v1/admin/session": {
      "get": {
        "operationId": "getAdminSession",
        "summary": "Current verified operator session",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminSession"
                }
              }
            }
          },
          "400": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAdminSession",
        "summary": "Revoke current admin session",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "parameters": [
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Session revoked"
          },
          "401": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/overview": {
      "get": {
        "operationId": "getAdminOverview",
        "summary": "Bounded operational counts and refresh time",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Overview"
                }
              }
            }
          },
          "400": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/locations": {
      "get": {
        "operationId": "listAdminLocations",
        "summary": "List service locations",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationList"
                }
              }
            }
          },
          "400": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "operationId": "createAdminLocation",
        "summary": "Create a location and record operator reason",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "parameters": [
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLocation"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "400": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/locations/{locationId}": {
      "patch": {
        "operationId": "updateAdminLocation",
        "summary": "Edit or pause/resume a location with version check",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLocation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "400": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/payment-intents": {
      "get": {
        "operationId": "listAdminPaymentIntents",
        "summary": "List sanitized payment intent summaries",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntentList"
                }
              }
            }
          },
          "400": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/admin/subscriptions": {
      "get": {
        "operationId": "listAdminSubscriptions",
        "summary": "List sanitized lease and ENS summaries",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionList"
                }
              }
            }
          },
          "400": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/admin/operations": {
      "get": {
        "operationId": "listAdminOperations",
        "summary": "List uncertain payment/registry/ENS operations",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationList"
                }
              }
            }
          },
          "400": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/v1/admin/operations/{operationId}/reconcile": {
      "post": {
        "operationId": "requestAdminReconciliation",
        "summary": "Queue read-only reconciliation for an existing uncertain operation",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReconcileRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Persistent request queued; no outcome implied",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReconcileAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/audit-events": {
      "get": {
        "operationId": "listAdminAuditEvents",
        "summary": "List redacted append-only audit events",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditList"
                }
              }
            }
          },
          "400": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AdminSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "realaddr_admin_session",
        "description": "Opaque server-side operator session; separate CSRF token required for mutations."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "error": {
            "type": "string",
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "message": {
            "type": "string"
          },
          "retryable": {
            "type": "boolean"
          },
        "traceId": {
          "type": "string"
        },
        "currentVersion": {
          "type": "integer",
          "minimum": 1,
          "description": "Present only for a version conflict on an operator-owned resource"
        }
        },
        "required": [
          "error",
          "message",
          "retryable",
          "traceId"
        ]
      },
      "AdminSession": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "displayName": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "const": "operator"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "csrfToken": {
            "type": "string"
          }
        },
        "required": [
          "displayName",
          "role",
          "expiresAt",
          "csrfToken"
        ]
      },
      "Overview": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "environment": {
            "type": "string",
            "const": "testnet"
          },
          "paymentNetwork": {
            "type": "string",
            "const": "eip155:84532"
          },
          "ensNetwork": {
            "type": "string",
            "const": "eip155:11155111"
          },
          "asOf": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "available": {
            "type": "boolean"
          },
          "locationCount": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "activeSubscriptionCount": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "uncertainPaymentCount": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "syncPendingCount": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "manualReviewCount": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          }
        },
        "required": [
          "environment",
          "paymentNetwork",
          "ensNetwork",
          "asOf",
          "available",
          "locationCount",
          "activeSubscriptionCount",
          "uncertainPaymentCount",
          "syncPendingCount",
          "manualReviewCount"
        ]
      },
      "Plan": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "periodDays": {
            "type": "integer",
            "const": 30
          },
          "amountAtomic": {
            "type": "string",
            "pattern": "^(0|[1-9][0-9]*)$"
          },
          "network": {
            "type": "string"
          },
          "asset": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{40}$"
          },
          "decimals": {
            "type": "integer",
            "minimum": 0,
            "maximum": 36
          }
        },
        "required": [
          "periodDays",
          "amountAtomic",
          "network",
          "asset",
          "decimals"
        ]
      },
      "Location": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "displayName": {
            "type": "string"
          },
          "publicArea": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "plan": {
            "$ref": "#/components/schemas/Plan"
          },
          "status": {
            "type": "string",
            "enum": [
              "available",
              "paused"
            ]
          },
          "version": {
            "type": "integer",
            "minimum": 1
          },
          "issuedSubscriptionCount": {
            "type": "integer",
            "minimum": 0
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "slug",
          "displayName",
          "publicArea",
          "postalCode",
          "address",
          "plan",
          "status",
          "version",
          "issuedSubscriptionCount",
          "updatedAt"
        ]
      },
      "LocationList": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Location"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "locations",
          "nextCursor"
        ]
      },
      "CreateLocation": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "displayName": {
            "type": "string"
          },
          "publicArea": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "plan": {
            "$ref": "#/components/schemas/Plan"
          },
          "status": {
            "type": "string",
            "enum": [
              "available",
              "paused"
            ]
          },
          "reason": {
            "type": "string",
            "minLength": 3,
            "maxLength": 500
          }
        },
        "required": [
          "slug",
          "displayName",
          "publicArea",
          "postalCode",
          "address",
          "plan",
          "status",
          "reason"
        ]
      },
      "UpdateLocation": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "expectedVersion": {
            "type": "integer",
            "minimum": 1
          },
          "reason": {
            "type": "string",
            "minLength": 3,
            "maxLength": 500
          },
          "changes": {
            "type": "object",
            "additionalProperties": false,
            "minProperties": 1,
            "properties": {
              "displayName": {
                "type": "string"
              },
              "publicArea": {
                "type": "string"
              },
              "postalCode": {
                "type": "string"
              },
              "address": {
                "type": "string"
              },
              "plan": {
                "$ref": "#/components/schemas/Plan"
              },
              "status": {
                "type": "string",
                "enum": [
                  "available",
                  "paused"
                ]
              }
            },
            "required": []
          }
        },
        "required": [
          "expectedVersion",
          "reason",
          "changes"
        ]
      },
      "PaymentIntentSummary": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "locationId": {
            "type": "string",
            "format": "uuid"
          },
          "floor": {
            "type": "integer",
            "minimum": 1,
            "maximum": 65535
          },
          "kind": {
            "type": "string",
            "enum": [
              "purchase",
              "renew"
            ]
          },
          "amountAtomic": {
            "type": "string",
            "pattern": "^(0|[1-9][0-9]*)$"
          },
          "status": {
            "type": "string"
          },
          "riskVerdict": {
            "type": "string",
            "enum": [
              "allow",
              "deny",
              "hold",
              "unknown"
            ]
          },
          "riskReasonCode": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "traceId": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "locationId",
          "floor",
          "kind",
          "amountAtomic",
          "status",
          "riskVerdict",
          "riskReasonCode",
          "createdAt",
          "updatedAt",
          "traceId"
        ]
      },
      "PaymentIntentList": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "paymentIntents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentIntentSummary"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "paymentIntents",
          "nextCursor"
        ]
      },
      "SubscriptionSummary": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "locationId": {
            "type": "string",
            "format": "uuid"
          },
          "floor": {
            "type": "integer",
            "minimum": 1,
            "maximum": 65535
          },
          "status": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "registryStatus": {
            "type": "string"
          },
          "ensName": {
            "type": [
              "string",
              "null"
            ]
          },
          "ensStatus": {
            "type": "string"
          },
          "mailEnabled": {
            "type": "boolean"
          },
          "destinationConfigured": {
            "type": "boolean"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "locationId",
          "floor",
          "status",
          "expiresAt",
          "registryStatus",
          "ensName",
          "ensStatus",
          "mailEnabled",
          "destinationConfigured",
          "updatedAt"
        ]
      },
      "SubscriptionList": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "subscriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubscriptionSummary"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "subscriptions",
          "nextCursor"
        ]
      },
      "Operation": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "kind": {
            "type": "string",
            "enum": [
              "payment",
              "registry",
              "ens"
            ]
          },
          "targetId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "status": {
            "type": "string",
            "enum": [
              "reconciling",
              "pending_readback",
              "manual_review",
              "unknown"
            ]
          },
          "version": {
            "type": "integer",
            "minimum": 1
          },
          "lastErrorCode": {
            "type": [
              "string",
              "null"
            ]
          },
          "nextAttemptAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "kind",
          "targetId",
          "status",
          "version",
          "lastErrorCode",
          "nextAttemptAt",
          "updatedAt"
        ]
      },
      "OperationList": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "operations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Operation"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "operations",
          "nextCursor"
        ]
      },
      "ReconcileRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "expectedVersion": {
            "type": "integer",
            "minimum": 1
          },
          "reason": {
            "type": "string",
            "minLength": 3,
            "maxLength": 500
          }
        },
        "required": [
          "expectedVersion",
          "reason"
        ]
      },
      "ReconcileAccepted": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "requestId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "operationId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "status": {
            "type": "string",
            "const": "queued"
          },
          "traceId": {
            "type": "string"
          }
        },
        "required": [
          "requestId",
          "operationId",
          "status",
          "traceId"
        ]
      },
      "AuditEvent": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "eventId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time"
          },
          "actorId": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "targetType": {
            "type": "string"
          },
          "targetId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "reason": {
            "type": "string"
          },
          "beforeVersion": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1
          },
          "afterVersion": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1
          },
          "idempotencyKeyHash": {
            "type": "string"
          },
          "result": {
            "type": "string",
            "enum": [
              "requested",
              "applied",
              "rejected",
              "failed"
            ]
          },
          "traceId": {
            "type": "string"
          }
        },
        "required": [
          "eventId",
          "occurredAt",
          "actorId",
          "action",
          "targetType",
          "targetId",
          "reason",
          "beforeVersion",
          "afterVersion",
          "idempotencyKeyHash",
          "result",
          "traceId"
        ]
      },
      "AuditList": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "auditEvents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuditEvent"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "auditEvents",
          "nextCursor"
        ]
      }
    }
  }
}
