{
  "openapi": "3.1.0",
  "info": {
    "title": "RealAddr Operator API",
    "version": "0.4.0-spec",
    "description": "Same-origin operator API contract. Google OIDC, separate admin sessions, location management and bounded reads are implemented behind disabled-by-default configuration. Live operator login and read-reconciliation execution remain unverified or unavailable. This API cannot approve human actions or force payments."
  },
  "servers": [
    {
      "url": "https://address.chain.tokyo",
      "description": "Operator UI origin; login requires protected Google client and allowlist configuration"
    }
  ],
  "paths": {
    "/v1/admin/session": {
      "get": {
        "operationId": "getAdminSession",
        "summary": "Current verified operator session",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminSession"
                }
              }
            }
          },
          "400": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAdminSession",
        "summary": "Revoke current admin session",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "parameters": [
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Session revoked"
          },
          "401": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/overview": {
      "get": {
        "operationId": "getAdminOverview",
        "summary": "Bounded operational counts and refresh time",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Overview"
                }
              }
            }
          },
          "400": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/locations": {
      "get": {
        "operationId": "listAdminLocations",
        "summary": "List service locations",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationList"
                }
              }
            }
          },
          "400": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "available",
                "paused"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Exact document ID. Cannot combine with cursor or other filters; returns zero or one sanitized summary with nextCursor null.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "description": "Server-side exact filters, stable updatedAt descending then document ID descending order. Opaque cursor binds authenticated operator, filter values, sort, and limit; changing filters resets pagination. Unsupported query names or combinations return 400. No full-text or substring search and no total count scan. Optional id is an exact direct-document lookup, exclusive with cursor and all other filters; limit remains valid, result has zero or one item, and nextCursor is null."
      },
      "post": {
        "operationId": "createAdminLocation",
        "summary": "Create a location and record operator reason",
        "description": "Server creates a UUID and fixed environment plan, normalizes Japanese postal code, and stores the location paused. A separate audited update enables sales after operator confirmation and readiness checks. The client cannot set price or slot capacity.",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "parameters": [
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLocation"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "400": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/locations/{locationId}": {
      "patch": {
        "operationId": "updateAdminLocation",
        "summary": "Edit or pause/resume a location with version check",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLocation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "400": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/payment-intents": {
      "get": {
        "operationId": "listAdminPaymentIntents",
        "summary": "List sanitized payment intent summaries",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntentList"
                }
              }
            }
          },
          "400": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "awaiting_payment",
                "settling",
                "reconciling",
                "fulfilled",
                "failed_unpaid",
                "manual_review",
                "refund_pending",
                "refunded",
                "expired",
                "cancelled",
                "blocked"
              ]
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Exact document ID. Cannot combine with cursor or other filters; returns zero or one sanitized summary with nextCursor null.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "description": "Server-side exact filters, stable createdAt descending then document ID descending order. Opaque cursor binds authenticated operator, filter values, sort, and limit; changing filters resets pagination. Unsupported query names or combinations return 400. No full-text or substring search and no total count scan. Optional id is an exact direct-document lookup, exclusive with cursor and all other filters; limit remains valid, result has zero or one item, and nextCursor is null."
      }
    },
    "/v1/admin/subscriptions": {
      "get": {
        "operationId": "listAdminSubscriptions",
        "summary": "List sanitized lease and ENS summaries",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionList"
                }
              }
            }
          },
          "400": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "expired",
                "suspended",
                "revoked"
              ]
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Exact document ID. Cannot combine with cursor or other filters; returns zero or one sanitized summary with nextCursor null.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "description": "Server-side exact filters, stable updatedAt descending then document ID descending order. Opaque cursor binds authenticated operator, filter values, sort, and limit; changing filters resets pagination. Unsupported query names or combinations return 400. No full-text or substring search and no total count scan. Optional id is an exact direct-document lookup, exclusive with cursor and all other filters; limit remains valid, result has zero or one item, and nextCursor is null."
      }
    },
    "/v1/admin/operations": {
      "get": {
        "operationId": "listAdminOperations",
        "summary": "List uncertain payment/registry/ENS operations",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationList"
                }
              }
            }
          },
          "400": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "payment",
                "registry",
                "ens"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "reconciling",
                "pending_readback",
                "manual_review",
                "unknown"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Exact document ID. Cannot combine with cursor or other filters; returns zero or one sanitized summary with nextCursor null.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "description": "Server-side exact filters, stable updatedAt descending then document ID descending order. Opaque cursor binds authenticated operator, filter values, sort, and limit; changing filters resets pagination. Unsupported query names or combinations return 400. No full-text or substring search and no total count scan. Optional id is an exact direct-document lookup, exclusive with cursor and all other filters; limit remains valid, result has zero or one item, and nextCursor is null."
      }
    },
    "/v1/admin/operations/{operationId}/reconcile": {
      "post": {
        "operationId": "requestAdminReconciliation",
        "summary": "Queue read-only reconciliation for an existing uncertain operation",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "X-CSRF-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReconcileRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Persistent request queued; no outcome implied",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReconcileAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/audit-events": {
      "get": {
        "operationId": "listAdminAuditEvents",
        "summary": "List redacted append-only audit events",
        "security": [
          {
            "AdminSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditList"
                }
              }
            }
          },
          "400": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Flat error with stable lower_snake_case code",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "targetType",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            }
          },
          {
            "name": "targetId",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            }
          }
        ],
        "description": "Server-side exact filters, stable occurredAt descending then document ID descending order. Opaque cursor binds authenticated operator, filter values, sort, and limit; changing filters resets pagination. Unsupported query names or combinations return 400. No full-text or substring search and no total count scan. targetType and targetId must be supplied together."
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AdminSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "realaddr_admin_session",
        "description": "Opaque server-side operator session; separate CSRF token required for mutations."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "error": {
            "type": "string",
            "pattern": "^[a-z][a-z0-9_]*$"
          },
          "message": {
            "type": "string"
          },
          "retryable": {
            "type": "boolean"
          },
          "traceId": {
            "type": "string"
          },
          "currentVersion": {
            "type": "integer",
            "minimum": 1,
            "description": "Present only for a version conflict on an operator-owned resource"
          }
        },
        "required": [
          "error",
          "message",
          "retryable",
          "traceId"
        ]
      },
      "AdminSession": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "displayName": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "const": "operator"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "csrfToken": {
            "type": "string"
          }
        },
        "required": [
          "displayName",
          "role",
          "expiresAt",
          "csrfToken"
        ]
      },
      "Overview": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "environment": {
            "type": "string",
            "const": "testnet"
          },
          "paymentNetwork": {
            "type": "string",
            "const": "eip155:84532"
          },
          "ensNetwork": {
            "type": "string",
            "const": "eip155:11155111"
          },
          "asOf": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "available": {
            "type": "boolean"
          },
          "locationCount": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "activeSubscriptionCount": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "uncertainPaymentCount": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "syncPendingCount": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "manualReviewCount": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          }
        },
        "required": [
          "environment",
          "paymentNetwork",
          "ensNetwork",
          "asOf",
          "available",
          "locationCount",
          "activeSubscriptionCount",
          "uncertainPaymentCount",
          "syncPendingCount",
          "manualReviewCount"
        ]
      },
      "Plan": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "periodDays": {
            "type": "integer",
            "const": 30
          },
          "amountAtomic": {
            "type": "string",
            "enum": [
              "550000",
              "55000000"
            ],
            "description": "30-day address price in 6-decimal USDC units: event test/dev 550000; future mainnet profile 55000000 is not currently on sale. The server enforces the environment and verified asset. One-time ENS add-on fees are separate: event floor 100000/custom 300000; future mainnet floor 10000000/custom 30000000, with mainnet sales disabled."
          },
          "network": {
            "type": "string"
          },
          "asset": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{40}$"
          },
          "decimals": {
            "type": "integer",
            "const": 6
          }
        },
        "required": [
          "periodDays",
          "amountAtomic",
          "network",
          "asset",
          "decimals"
        ]
      },
      "Location": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$",
            "description": "Single lowercase ASCII DNS label for the ENS location namespace. No dots; letters/digits at both ends, internal hyphens allowed. The server verifies that ENSIP-15 normalization preserves this exact slug."
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "publicArea": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "postalCode": {
            "type": "string",
            "pattern": "^[0-9]{3}-[0-9]{4}$",
            "description": "Canonical Japanese seven-digit postal code with hyphen; the create/update request also accepts seven digits without a hyphen and the server normalizes before storing."
          },
          "address": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "plan": {
            "$ref": "#/components/schemas/Plan"
          },
          "status": {
            "type": "string",
            "enum": [
              "available",
              "paused"
            ]
          },
          "version": {
            "type": "integer",
            "minimum": 1
          },
          "issuedSubscriptionCount": {
            "type": "integer",
            "minimum": 0
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "slug",
          "displayName",
          "publicArea",
          "postalCode",
          "address",
          "plan",
          "status",
          "version",
          "issuedSubscriptionCount",
          "updatedAt"
        ]
      },
      "LocationList": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "locations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Location"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "locations",
          "nextCursor"
        ]
      },
      "CreateLocation": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$",
            "description": "Single lowercase ASCII DNS label for the ENS location namespace. No dots; letters/digits at both ends, internal hyphens allowed. The server verifies that ENSIP-15 normalization preserves this exact slug."
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "publicArea": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "postalCode": {
            "type": "string",
            "pattern": "^[0-9]{3}-?[0-9]{4}$",
            "description": "Japanese seven-digit postal code; server stores the hyphenated canonical form."
          },
          "address": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "status": {
            "type": "string",
            "const": "paused",
            "description": "New locations always start paused; enabling sales requires a separate audited update."
          },
          "reason": {
            "type": "string",
            "minLength": 3,
            "maxLength": 500
          }
        },
        "required": [
          "slug",
          "displayName",
          "publicArea",
          "postalCode",
          "address",
          "status",
          "reason"
        ]
      },
      "UpdateLocation": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "expectedVersion": {
            "type": "integer",
            "minimum": 1
          },
          "reason": {
            "type": "string",
            "minLength": 3,
            "maxLength": 500
          },
          "publicationConfirmed": {
            "type": "boolean",
            "description": "Must be true when changes.status is available; operator confirms authorization to offer the registered address. The server rejects resumption without it."
          },
          "changes": {
            "type": "object",
            "additionalProperties": false,
            "minProperties": 1,
            "properties": {
              "displayName": {
                "type": "string",
                "minLength": 1,
                "maxLength": 100
              },
              "publicArea": {
                "type": "string",
                "minLength": 1,
                "maxLength": 100
              },
              "postalCode": {
                "type": "string",
                "pattern": "^[0-9]{3}-?[0-9]{4}$"
              },
              "address": {
                "type": "string",
                "minLength": 1,
                "maxLength": 500
              },
              "status": {
                "type": "string",
                "enum": [
                  "available",
                  "paused"
                ]
              }
            },
            "required": []
          }
        },
        "required": [
          "expectedVersion",
          "reason",
          "changes"
        ],
        "allOf": [
          {
            "if": {
              "properties": {
                "changes": {
                  "required": [
                    "status"
                  ],
                  "properties": {
                    "status": {
                      "const": "available"
                    }
                  }
                }
              },
              "required": [
                "changes"
              ]
            },
            "then": {
              "required": [
                "publicationConfirmed"
              ],
              "properties": {
                "publicationConfirmed": {
                  "const": true
                }
              }
            }
          }
        ]
      },
      "PaymentIntentSummary": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "locationId": {
            "type": "string",
            "format": "uuid"
          },
          "floor": {
            "type": "integer",
            "minimum": 1,
            "maximum": 65535
          },
          "kind": {
            "type": "string",
            "enum": [
              "purchase",
              "renew",
              "ens_addon"
            ]
          },
          "amountAtomic": {
            "type": "string",
            "pattern": "^(0|[1-9][0-9]*)$"
          },
          "status": {
            "type": "string"
          },
          "riskVerdict": {
            "type": "string",
            "enum": [
              "allow",
              "deny",
              "hold",
              "unknown"
            ]
          },
          "riskReasonCode": {
            "type": [
              "string",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "traceId": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "locationId",
          "floor",
          "kind",
          "amountAtomic",
          "status",
          "riskVerdict",
          "riskReasonCode",
          "createdAt",
          "updatedAt",
          "traceId"
        ]
      },
      "PaymentIntentList": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "paymentIntents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentIntentSummary"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "paymentIntents",
          "nextCursor"
        ]
      },
      "SubscriptionSummary": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "locationId": {
            "type": "string",
            "format": "uuid"
          },
          "floor": {
            "type": "integer",
            "minimum": 1,
            "maximum": 65535
          },
          "status": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "registryStatus": {
            "type": "string"
          },
          "ensName": {
            "type": [
              "string",
              "null"
            ]
          },
          "ensStatus": {
            "type": "string"
          },
          "mailEnabled": {
            "type": "boolean"
          },
          "destinationConfigured": {
            "type": "boolean"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "ensNameType": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "floor",
              "custom",
              null
            ],
            "description": "Selected name type from a paid ENS add-on snapshot; null when no paid entitlement exists."
          }
        },
        "required": [
          "id",
          "locationId",
          "floor",
          "status",
          "expiresAt",
          "registryStatus",
          "ensName",
          "ensNameType",
          "ensStatus",
          "mailEnabled",
          "destinationConfigured",
          "updatedAt"
        ]
      },
      "SubscriptionList": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "subscriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubscriptionSummary"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "subscriptions",
          "nextCursor"
        ]
      },
      "Operation": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "kind": {
            "type": "string",
            "enum": [
              "payment",
              "registry",
              "ens"
            ]
          },
          "targetId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "status": {
            "type": "string",
            "enum": [
              "reconciling",
              "pending_readback",
              "manual_review",
              "unknown"
            ]
          },
          "version": {
            "type": "integer",
            "minimum": 1
          },
          "lastErrorCode": {
            "type": [
              "string",
              "null"
            ]
          },
          "nextAttemptAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "kind",
          "targetId",
          "status",
          "version",
          "lastErrorCode",
          "nextAttemptAt",
          "updatedAt"
        ]
      },
      "OperationList": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "operations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Operation"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "operations",
          "nextCursor"
        ]
      },
      "ReconcileRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "expectedVersion": {
            "type": "integer",
            "minimum": 1
          },
          "reason": {
            "type": "string",
            "minLength": 3,
            "maxLength": 500
          }
        },
        "required": [
          "expectedVersion",
          "reason"
        ]
      },
      "ReconcileAccepted": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "requestId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "operationId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "status": {
            "type": "string",
            "const": "queued"
          },
          "traceId": {
            "type": "string"
          }
        },
        "required": [
          "requestId",
          "operationId",
          "status",
          "traceId"
        ]
      },
      "AuditEvent": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "eventId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time"
          },
          "actorId": {
            "type": "string"
          },
          "action": {
            "type": "string"
          },
          "targetType": {
            "type": "string"
          },
          "targetId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "reason": {
            "type": "string"
          },
          "beforeVersion": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1
          },
          "afterVersion": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1
          },
          "idempotencyKeyHash": {
            "type": "string"
          },
          "result": {
            "type": "string",
            "enum": [
              "requested",
              "applied",
              "rejected",
              "failed"
            ]
          },
          "traceId": {
            "type": "string"
          }
        },
        "required": [
          "eventId",
          "occurredAt",
          "actorId",
          "action",
          "targetType",
          "targetId",
          "reason",
          "beforeVersion",
          "afterVersion",
          "idempotencyKeyHash",
          "result",
          "traceId"
        ]
      },
      "AuditList": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "auditEvents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuditEvent"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "auditEvents",
          "nextCursor"
        ]
      }
    }
  }
}
