{
  "openapi": "3.1.0",
  "info": {
    "title": "RealAddr for Agents API",
    "version": "0.8.0-spec",
    "description": "Implementation contract, not a deployed service. Hackathon mail scope is approval, enabled status and a human-entered destination; no physical forwarding. ENSv2 names on Ethereum Sepolia reference leases; public resolution does not disclose forwarding addresses."
  },
  "servers": [
    {
      "url": "https://address.chain.tokyo",
      "description": "Planned hackathon service origin. Domain and DNS setup are performed by the operator; deployment and availability are not yet verified."
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Process liveness only; external dependencies are not checked",
        "security": [],
        "responses": {
          "200": {
            "description": "API process is running",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "getOpenApi",
        "summary": "Read the planned public OpenAPI contract",
        "security": [],
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 document",
            "content": {
              "application/vnd.oai.openapi+json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiDocument"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          }
        }
      }
    },
    "/v1/auth/challenges": {
      "post": {
        "operationId": "createAgentChallenge",
        "summary": "Create domain-bound, expiring wallet challenge",
        "security": [],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Expiring wallet authentication challenge created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Challenge"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "400": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "401": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "403": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "404": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "409": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "410": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "422": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "429": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "503": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthChallengeRequest"
              }
            }
          }
        }
      }
    },
    "/v1/auth/sessions": {
      "post": {
        "operationId": "createAgentSession",
        "summary": "Consume challenge and issue agent credential",
        "security": [],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSession"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "400": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "401": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "403": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "404": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "409": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "410": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "422": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "429": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "503": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignatureProof"
              }
            }
          }
        }
      }
    },
    "/v1/auth/session": {
      "delete": {
        "operationId": "revokeAgentSession",
        "summary": "Revoke current agent credential",
        "security": [
          {
            "agentBearer": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Revoked",
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "400": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "401": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "403": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "404": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "409": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "410": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "422": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "429": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "503": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          }
        }
      }
    },
    "/v1/locations": {
      "get": {
        "operationId": "listBuildings",
        "summary": "List public buildings and current plans",
        "security": [
          {
            "agentBearer": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Buildings"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "400": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "401": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "403": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "404": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "409": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "410": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "422": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "429": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "503": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          }
        }
      }
    },
    "/v1/locations/{locationId}/floors/{floor}": {
      "get": {
        "operationId": "getFloorAvailability",
        "summary": "Read the current availability of a virtual slot without disclosing other owners",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "floor",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 65535
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Authoritative snapshot; reserve again in the payment intent transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloorAvailability"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "401": {
            "description": "Agent credential missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "404": {
            "description": "Location unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "422": {
            "description": "Floor must be an integer from 1 through 65535",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          }
        }
      }
    },
    "/v1/payment-intents": {
      "post": {
        "operationId": "createLeaseOrder",
        "summary": "Create an address purchase, renewal, or one-time ENS add-on payment intent",
        "description": "ens_addon defaults to a standard floor name; nameType custom requires a customLabel. The quoted nameType, label, canonical FQDN, pricingVersion and fee are immutable through pay. A canonical-name collision returns 409 ens_name_unavailable without disclosing the other lease. An owned active subscription and a verified environment/nameType fee are required. Missing or mismatched fee returns 503 ens_pricing_unavailable without a 402; unavailable parent-name or registry prerequisites return 503 ens_dependency_unavailable. An existing paid entitlement returns 409 ens_already_purchased; an entitlement refunded after confirmed issuance failure returns 409 ens_repurchase_unavailable; an in-progress add-on returns 409 ens_purchase_in_progress with its intentId as resourceId. Only a confirmed unpaid intent releases pending name and entitlement guards. Unknown or unowned subscriptions return 404; inactive subscriptions return 409 lease_not_active. The add-on inherits locationId and floor from the subscription, creates no new slot hold, and does not consume new-lease quota. Normal risk, x402, nonce, and spend limits still apply.",
        "security": [
          {
            "agentBearer": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "400": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "401": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "403": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "404": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "409": {
            "description": "sold_out only after confirmed exhaustion, or an idempotency/state conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "410": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "422": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "429": {
            "description": "Rate, hold quota, or daily_purchase_limit reached; existing payment reconciliation remains available.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "503": {
            "description": "Dependency unavailable or reservation_retry after bounded contention retries; reuse the same idempotency key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeaseOrderRequest"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listPaymentIntents",
        "summary": "List payment intents owned by the authenticated agent",
        "security": [
          {
            "agentBearer": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentIntents"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "400": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "401": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "403": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "404": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "409": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "410": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "422": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "429": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "503": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          }
        },
        "description": "Cursor pagination of the authenticated agent payment intents, newest createdAt first with a stable ID tie-breaker. Never returns signed payment payloads or another agent data."
      }
    },
    "/v1/payment-intents/{intentId}": {
      "get": {
        "operationId": "getOrder",
        "summary": "Read owned order and settlement evidence",
        "security": [
          {
            "agentBearer": []
          }
        ],
        "parameters": [
          {
            "name": "intentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "400": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "401": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "403": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "404": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "409": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "410": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "422": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "429": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "503": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          }
        }
      }
    },
    "/v1/payment-intents/{intentId}/pay": {
      "post": {
        "operationId": "executeOrder",
        "summary": "Execute an order through screened x402 settlement",
        "security": [
          {
            "agentBearer": []
          }
        ],
        "parameters": [
          {
            "name": "intentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          },
          {
            "name": "PAYMENT-SIGNATURE",
            "in": "header",
            "required": false,
            "description": "Encoded x402 v2 payload, produced and verified with the pinned official SDK.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Fulfilled"
                    },
                    {
                      "$ref": "#/components/schemas/Refunded"
                    }
                  ]
                }
              }
            },
            "headers": {
              "PAYMENT-RESPONSE": {
                "schema": {
                  "type": "string"
                },
                "description": "Verified settlement data encoded by the x402 SDK."
              },
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "202": {
            "description": "Settlement, issuance review, or a confirmed issuance-failure refund is pending. Poll the same intent without authorizing a new payment or refund transfer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pending"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "400": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "401": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "402": {
            "description": "Valid order requires payment. Body and header follow the pinned x402 v2 SDK.",
            "headers": {
              "PAYMENT-REQUIRED": {
                "required": true,
                "schema": {
                  "type": "string"
                }
              },
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Official x402 v2 PaymentRequired shape; validate with the pinned SDK."
                }
              }
            }
          },
          "403": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "404": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "409": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "410": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "422": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "429": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "503": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Empty"
              }
            }
          }
        },
        "description": "Never deliver the lease before confirmed settlement. Same path/body/key with PAYMENT-SIGNATURE continues the order. A 402 is not a final idempotency snapshot. The first accepted payment request persists a Firestore outbox and returns 202; a Cloud Tasks worker settles and reconciles it. Enqueue failure is recovered from the outbox. Retry the same execution after fulfillment to obtain 200."
      }
    },
    "/v1/subscriptions": {
      "get": {
        "operationId": "listLeases",
        "summary": "List owned leases",
        "security": [
          {
            "agentBearer": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Leases"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "400": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "401": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "403": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "404": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "409": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "410": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "422": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "429": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "503": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          }
        }
      }
    },
    "/v1/subscriptions/{subscriptionId}": {
      "get": {
        "operationId": "getLease",
        "summary": "Read lease, chain and safe mail status; no forwarding destination",
        "security": [
          {
            "agentBearer": []
          }
        ],
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lease"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "400": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "401": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "403": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "404": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "409": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "410": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "422": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "429": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "503": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          }
        }
      }
    },
    "/v1/subscriptions/{subscriptionId}/mail-approval": {
      "post": {
        "operationId": "requestMailApproval",
        "summary": "Request human mail.enable approval",
        "security": [
          {
            "agentBearer": []
          }
        ],
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Already enabled; forceReauth renews human session verification without requiring fresh consent for an unchanged destination.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailStatus"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalLink"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "400": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "401": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "403": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "404": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "409": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "410": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "422": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "429": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "503": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MailApprovalRequest"
              }
            }
          }
        }
      }
    },
    "/v1/approvals/{approvalId}/owner-challenge": {
      "post": {
        "operationId": "createOwnerChallenge",
        "summary": "Create owner-wallet challenge bound to this browser and approval",
        "security": [
          {
            "humanSession": [],
            "csrfToken": []
          }
        ],
        "parameters": [
          {
            "name": "approvalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Challenge"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "400": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "401": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "403": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "404": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "409": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "410": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "422": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "429": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "503": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Empty"
              }
            }
          }
        },
        "description": "An anonymous session is issued by GET /approve/{approvalId}. It is not authorization to view private data."
      }
    },
    "/v1/approvals/{approvalId}/owner-proof": {
      "post": {
        "operationId": "proveOwnerWallet",
        "summary": "Verify the owning wallet and consume challenge",
        "security": [
          {
            "humanSession": [],
            "csrfToken": []
          }
        ],
        "parameters": [
          {
            "name": "approvalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnerProofResult"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "400": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "401": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "403": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "404": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "409": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "410": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "422": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "429": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "503": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignatureProof"
              }
            }
          }
        }
      }
    },
    "/v1/approvals/{approvalId}": {
      "get": {
        "operationId": "getApproval",
        "summary": "Read approval after proof of owning wallet",
        "security": [
          {
            "humanSession": []
          }
        ],
        "parameters": [
          {
            "name": "approvalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Approval"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "400": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "401": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "403": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "404": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "409": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "410": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "422": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "429": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "503": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          }
        }
      }
    },
    "/v1/approvals/{approvalId}/authenticate": {
      "post": {
        "operationId": "authenticateHuman",
        "summary": "Start fresh World OIDC after owner proof",
        "security": [
          {
            "humanSession": [],
            "csrfToken": []
          }
        ],
        "parameters": [
          {
            "name": "approvalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthUrl"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "400": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "401": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "403": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "404": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "409": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "410": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "422": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "429": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          },
          "503": {
            "description": "Request rejected. See error and traceId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Trace-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Redacted diagnostic correlation ID"
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Empty"
              }
            }
          }
        }
      }
    },
    "/auth/world/callback": {
      "get": {
        "operationId": "worldCallback",
        "summary": "Validate state, code and ID token; return to a fixed same-origin page",
[...]
